ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  right: 0;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}


#container a {
  text-decoration: none;
}

ion-grid {
	width: 800px;	
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(22, 9, 58, 0.1);

}

ion-col,
ion-row {
	padding: 15px;
	background-color: rgba(53, 52, 61, 0.2);
	color: #fff;
}

ion-row {
	padding: 5px;
}

ion-col {
	text-align: left;
}

ion-header {
	ion-col {
		background-color: var(--ion-color-secondary);
		color:black
	}
}

.error{
    animation: shake 0.2s ease-in-out 0s 2;
    box-shadow: 0 0 0.5em red;
}

@keyframes shake {
	0% { margin-left: 0rem; }
	25% { margin-left: 0.5rem; }
	75% { margin-left: -0.5rem; }
	100% { margin-left: 0rem; }
  }

form{
	margin: auto;
	width: 30%;
}

.ion-grid-body {
	&:hover {
    	background-color: rgba(140, 126, 126, 0.6);
  	}
	
	ion-col {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(140, 126, 126, 0.5);
				z-index: -1;
			}
		}
	}
}